@model IEnumerable<ProjetAspNet.Models.ExpanseTypes>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ceiling)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fixed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OnlyManagers)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tvas.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ceiling)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fixed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OnlyManagers)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tvas.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ExpenseType_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ExpenseType_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ExpenseType_ID })
        </td>
    </tr>
}

</table>
